.sendForm {
    height: 40px;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 50px;

}

.textarea {
    display: flex;
    resize: vertical;
    padding: 5px;
    width: 976px;
    height: 40px;
    margin-right: 30px;
    border-radius: 20px;
    border: 3px #D9D9D9 solid;
    background-color: #D9D9D9;
}
.textarea:focus {
    display: block;

}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    border: 2px dodgerblue solid;
    font-size: 16px;
    font-weight: 600;


}

.button:hover {
    background-color: #0066CC;
}
.button:active {

}
